---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title='Blog'>
  <main>
    <section
      class='relative isolate overflow-hidden px-6 py-12 sm:py-16 lg:px-8'
    >
      <div class='mx-auto max-w-2xl lg:max-w-4xl'>
        <ol class='relative border-l border-gray-200 dark:border-gray-700'>
          {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate.slice(0,10)} description={post.frontmatter.description} />)}
        </ol>
      </div>
    </section>
  </main>
</Layout>
